:root {
    --main-bg-color: #3e3e3e;
    --font-color: #e0e0e0;
}

a { all: unset; }

html {
    font-family: monospace;
}

body {
    background-color: var(--main-bg-color);
    max-width: 800px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#name-header {
    font-size: 5em;
    color: var(--font-color);
    margin: 0;

    @media screen and (max-width: 500px) {
        font-size: 3em;
    }
}

.imgContainer img {
    margin-top: -35%;
    width: 200px;
    clip-path: circle(35% at 50% 62%);

    @media screen and (max-width: 500px) {
        width: 150px;
    }
}
